/*--------------------------------------------------------------
# Tagline
--------------------------------------------------------------*/

.tagline p{
  color: #ffff;
  letter-spacing: 2px;
  line-height: 3rem;
  font-size: 42px;
}
.bg4db614-gradient{
background: #56CC17;
background: linear-gradient(80deg, #4dba5e, #0b1808);
padding:4px;
}

.subtag p{
  color: #fff;
  font-size: 14px;
}


.zoom-image {
  transition: transform 0.3s ease, z-index 0s;
  position: relative;
  z-index: 3;
}

.zoom-image:hover {
  transform: scale(2.2); /* Increase size */
  z-index: 10;            /* Bring to front */
  border: 1px;

}
.btn-vxgreen {
    background-color: #0bb851;
    color: #ffffff;
    border: none;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: 0.50s;
}

.btn-vxgreen:hover {
    background-color: #ffffff;
    color: #0bb851;
    border: 1px solid #0bb851;
    text-decoration: none;
}


.btn-abe{
    background-color: #dd6a30;
      color: #ffffff;
    border: none;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: 0.50s;
}


.btn-abe:hover{
    background-color: #ffffff;
    color: #dd6a30;
    border: 1px solid #dd6a30;
    text-decoration: none;
}

.btn-romans{
    color:#050c14 ;
    background-color:#efe5d9 ;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Services */



/* Default styles (Mobile First) */
.service-image img {
  width: 100%;
  max-width: 320px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.servicename {
  text-align: center;
}

/* .service-tagline {
  width: 100%;
} */

.service-tagline p {
  font-size: 24px;
}




/* Tablet: 575-1200px */
@media (min-width: 575px) and (max-width: 824px) {
  .service-image img {
    max-width: 480px;
  }

  .service-tagline p {
    font-size: 22px;
  }

  .service-tagline{
      width: 320px;
  }

  .footer-img{
    display: none;
  }

    .footer-img img {

margin-top: 220px;

}
}







/* Tablet: 768px to 1199px */
@media (min-width: 768px) and (max-width: 1199px) {
  .service-image img {
    max-width: 480px;
  }

  .service-tagline p {
    font-size: 22px;
  }

  .service-tagline{
      width: 320px;
  }
  .footer-img img {

margin-top: 220px;

}
}

/* Desktop: 1200px and above */
@media (min-width: 1200px) {
  .service-image img {
    max-width: 640px;
    height: auto;

  }

  .service-tagline p {
    font-size: 28px;
  }

  .footer-img img {

margin-top: 90px;
}

}


.servicename span{
  color: #ffffff;
}

.webdesign .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


.service-tagline{
  background-color: #030635;
  padding:  12px;
}

.service-tagline h2{
color: #fff;


}

.service-tagline span{
color: #0bb851;
}





.servicedetails{
height: 112vh;
margin-bottom: none;
position: relative;
}

.orderlist span{
  color: #5e88b2;
}

.orderlist p{

  color: #e6ebe9;
}


/* .footer-img img
{

  height: 190px;
  margin: 12px;

}
 */


.footer-img img {
  width:220px;
  height: 190px;
  max-width: 100%;

}

.footer-img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


@media (max-width: 768px) {
  .footer-img .footer-image:not(:first-child) {
    display: none;
  }
}


/* AI PAGES */



#aipage, .aipage-bg {
  height: 100vh;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.aipage-bg {
  background-image: url('../img/Service-bg/AI-BG.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aipage-title {
  z-index: 1;
}

.aipage-title h1 {
  font-size: 4rem;
  color: white;
}

/* Subtitle styling */
.page-subtitle {
  position: absolute;
  padding:  12px;
  background-color: #030635;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}



.page-subtitle h2 {
  color: white; /* Default color for the entire h2 text */

  margin: 0;
}

.page-subtitle h2 span {
  color: #0bb851;
}


/* Ai content */
#ai-content{
 background-color: #ffffff;
  height: auto;
}
/* aiicon */
.aiicon img{
width: 60px;
height:  60px;

}
.aiicon{
  margin-top: -50px;
  background-color: #ffffff;
  border:2px solid #727272;
  border-bottom-left-radius: 12%;
  border-top-left-radius: 12%;
  width:56px;
  height: 180px;
}




  #carouselExample .carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  /* WHY AI */

  .whyai h2{
    color: #050c14;
  }

    .whyai h2 span{
    color: #0bb851;
  } 

  .whyaicontent p{
    color: #3a3838;
  }

    .collaborate-button {
      display: inline-block;
      background: url('../img/servicefooter/actiondiamond.png') no-repeat center center; 
      background-size: cover;
      border: 2px solid #21c447;
      border-radius: 25px;
      padding: 12px 24px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: white;
      text-shadow: 1px 1px 2px black;
      text-align: center;
      cursor: pointer;
      transition: transform 0.2s ease;
      box-shadow: inset;
    }

    .collaborate-button:hover {
      transform: scale(1.05);
    }